<section class="todoapp">
  <header class="header">
    <h1>foood</h1>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>





<script>

  // registers all code within curly braces to be executed after the page loads
  $(function() {

    // we call the method .success on the OBJECT that the $.get value returns, which allows us to set a callback function to run when a successful response happens
    // we set 'data' to equal the JSON response
    $.get('/tasks').success( function( data ) {

      // builds an empty var to store the ENTIRE block of li code
      var htmlString = '';

      $.each(data, function(index, task) {
        var checkedStatus = task.done ? 'checked' : '';
        var liElement = '<li><div class="view"><input class="toggle" type="checkbox" data-id="' + task.id + '"' + checkedStatus + '><label>' + task.title + '</label></div></li>';

        // pops the liElement into htmlString
        htmlString += liElement;

      });

      // grabs the ul element with class of .todo-list
      var ulTodos = $('.todo-list');

      // inserts htmlString code INTO the ul block
      ulTodos.html(htmlString);

      // handle the checkbox functionality
      $('.toggle').change(function(e) {
        var itemId = $(e.target).data("id");
        console.log(itemId);

        var doneValue = Boolean($(e.target).is(':checked'));
        console.log("done: ", doneValue)

        $.post("/tasks/" + itemId, {
          _method: "PUT",
          task: {
            done: doneValue
          }
        });
      });

    });
  });
</script>